<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Alerte critère</title>
</head>
<body>
  <h2>Bonjour ! </h2>
  <p>Votre nouvelle alerte est activée.Vous recevez un mail hebdomadaire quotidien selon vos critère </p>
  <p>Merci d'etre parmi nous </p>
</body>
</html>